//color palette
$primary: #f37021;
$primary-medium: #ff8946;
$primary-light: #ffae86;
$secondary: #0d1732;
$secondary-medium: #263665;
$secondary-light: #5b6da6;
$background: #f5f5f7;
$white: #ffffff;
//color(gray)
$gray-primary: #6d6e71;
$gray-10: #ffffff;
$gray-20: #f6f6f6;
$gray-30: #f0f0f0;
$gray-40: #e5e5e5;
$gray-50: #d6d6d6;
$gray-60: #bbbbbb;
$gray-70: #949494;
$gray-80: #757575;
$gray-90: #393939;
$gray-100: #1e1e1e;
//status color
$disabled: #b7b9be;
$success: #179f55;
$success-medium: #3ead6f;
$success-light: #5ac78c;
$error: #e14f4f;
$error-medium: #f16464;
$error-light: #ff7b7b;
$info: #2f77e1;
$info-medium: #4489f1;
$info-light: #699aec;


//text
$text-black: #212121;
$text-gray: #767676;


//font-weight
$font-100: 100;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;


//radius
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-50: 50px;
$radius-round: 999px;